<%= form_with model: @post, local: true do |f| %>
  <div class="form_area">
    <%= render partial: 'posts/error_messages', locals: { post: @post } %>
    <div class="form_area__field">
      <div class="textarea">
        <%= f.text_area :content, placeholder: "投稿内容を入力" %>
      </div>
    </div>
    <div class="form_area__action">
      <%= f.submit "投稿", class: :form_area__action__btn %>
    </div>
  </div>
<% end %>
