<% if current_user.has_liked?(post) %>
  <li>
    <%= link_to post_like_path(post), data: { method: 'delete' } do %>
      <i class="fas fa-heart"></i>
    <% end %>
    <span><%= post.like_count if post.likes.present? %></span>
  </li>
<% else %>
  <li>
    <%= link_to post_like_path(post), data: { method: 'post' } do %>
      <i class="far fa-heart"></i>
    <% end %>
    <span><%= post.like_count if post.likes.present? %></span>
  </li>
<% end %>